.ms-classic3-main {
	border: 1.5pt solid black;
}
.ms-classic3-tl {
	font-weight: bold;
	color: white;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom: 1.5pt solid black;
	background-color: navy;
}
.ms-classic3-left {
	font-weight: bold;
	color: black;
	border-style: none;
	background-color: silver;
}
.ms-classic3-top {
	font-weight: bold;
	color: white;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom: 1.5pt solid black;
	background-color: navy;
}
.ms-classic3-even {
	color: navy;
	border-style: none;
	background-color: silver;
}

.menu1, .menu2, .menu3, .menu4{
	padding: 10px;
	border-radius:8px;
	width: 20%;
	float: left;
	}

.menu1{
	background-color:#00FA9A;
	}
.menu2{
	background-color:#ccc;
	}
.menu3{
	background-color:#ADD8E6;
	}
.menu4{
	background-color:#EEE8AA;
	}

.divPrincipal{
	height: 100%;    /* altura da div*/
	left: 5%;  /* 50% da esquerda da tela ou seja centro na horizontal*/
	/*margin: -240px 0 0 -320px;*/
	position: absolute;
	/*top: 50%;  /*  50% longe do topo, ou seja meio da tela na vertical */
	width: 100%; /* largura da DIV*/
}