.row{background-color:#ccc;
	padding:10px;	
	text-shadow: 2px 2px 5px red;}
	
.row1{width:30%;
	padding:10px;
	background-color:green;
	color: white;}
	
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}