.cor0, .cor1, .cor2, .cor3, .cor4 { padding: 8px; }

.cor0{ background-color: #99ff99; }

.cor1{ background-color: #ccc; }
.cor2 { background-color: #f60; }

.cor3{ background-color: #00cc33; }
.cor4 { background-color: #00cc66; }