/*!
Theme Name: iMasters 2013
Author: Apiki WordPress
Author URI: http://apiki.com/
Description: Tema WordPress para o iMasters 2013
Version: 2013.02
Modificado pelo Maujor em fevereiro/2014 para exemplo no livro Design Responsivo
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
	}
body {
	font:normal 62.5% Arial, Helvetica, sans-serif;
	background:#fff;
	line-height:1;
	}

ol,ul {
	list-style:none;
	}
figure {
	margin:0;
	}
:focus {
	outline:0;
	}
.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7 {
	display:inline;
	float:left;
	margin-left:1%;
	margin-right:1%;
	}
.alpha {
	margin-left:0;
	}
.omega {
	margin-right:0;
	}
.grid_2 {  width: 14.8936%; }
.grid_3 {  width: 23.4042%; }
.grid_4 {  width: 31.9148%; }
.grid_5 {  width: 40.4255%; }
.grid_6 {  width: 48.9361%; }
.grid_7 {  width: 57.4468%;float:right; }
.grid_12 {  width:100%; }
.grid_6 .grid_3 {   width: 47.8260%!important; margin-right: 0; }
.grid_6 .grid_3 img { width: 93.1818%; }
.grid_7 .grid_4 {   width: 55.5555%; margin-right: 0; }
.grid_7 .grid_3 {  width: 40.7407%; margin-left: 3%;    }
.grid_7 .grid_4 .grid_2 { 
width: 32.34%; 
margin-left: 0; 
}
.grid_7 .grid_4 ul li.alpha  { margin-right: 6.6666%; }
.widget-imasters-podcast .grid_4 { width: 27.2340%;}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
	}
.container:after,.container:before {
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
	}
.container:after {
	clear:both;
	}
.container {
	zoom:1;
	}
	
@font-face {
	font-family:'helveticaneuelight';
	src:url('../font/18925_helveticaneuelt.eot');
	src:url('../font/18925_helveticaneuelt.eot?#iefix') format('embedded-opentype'),url('../font/18925_helveticaneuelt.woff') format('woff'),url('../font/18925_helveticaneuelt.ttf') format('truetype'),url('../font/18925_helveticaneuelt.svg#helveticaneuelight') format('svg');
	font-weight:normal;
	font-style:normal
	}

@font-face {
	font-family:'ArialRoundedMTBold';
	src:url('../fonts/arlrdbd3.eot');
	src:url('../fonts/arlrdbd3.eot?#iefix') format('embedded-opentype'),url('../font/arlrdbd3.woff') format('woff'),url('../font/arlrdbd3.ttf') format('truetype'),url('../font/arlrdbd3.svg#arlrdbd3') format('svg');
	font-weight:normal;
	font-style:normal
	}
	
h1,h2,h3,h4,h5,h6 {
	line-height:120%;
	}
h1 {
	font-size:4.8em;
	font-weight:normal;
	font-family:"helveticaneuelight",helvetica,arial,sans-serif;
	}
h2 {
	font-size:3.2em;
	}
h3 {
	font-size:2.4em;
	}
h4 {
	font-size:2.2em;
	}
h5 {
	font-size:2.2em;
	}
h6 {
	font-size:1.8em;
	}
a {
	color:#4476ab;
	text-decoration:none;
	line-height:120%;
	}
a:hover,a:focus {
	text-decoration:underline;
	}
a:active {
	text-decoration:none;
	}
form label {
	display:block;
	color:#666;
	margin-bottom:5px;
	}
input[type="text"],select,textarea {
	border:1px solid #ccc;
	background:#fff;
	padding:6px 9px;
	color:#666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	font-family:Arial,Helvetica,Sans-Serif;
	font-size:1.2em;
	}
.gform_wrapper ul {
	list-style-type:none;
	margin:0;
	}
.gform_wrapper input[type="text"],.gform_wrapper textarea {
	width:50%;
	}
.title {
	font-size:2em;
	font-weight:normal;
	}
.button {
	background:#4375ab;
	font-size:1.4em;
	padding:8px 20px;
	text-transform:uppercase;
	color:#fff;
	display:inline-block;
	clear:both;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	}
.button:hover {
	text-decoration:none;
	}
.icon,.sitemap-button a {
	background:url(../imagens/icons.png) no-repeat 0 0;
	}
.icon.comment {
	background-position:-3px -312px;
	}
.sitemap-button a {
	background-position:0 -338px;
	}
.icon.twitter {
	background-position:-2px -367px;
	}
.icon.linkedin {
	background-position:-2px -413px;
	}
.icon.github {
	background-position:-2px -456px;
	}
.icon.rss {
	background-position:-2px -502px;
	}
.container {
	width:100%; max-width:94em;
	margin:0 auto;
	position:relative;
	}
.bar-imasters {
	width:100%;
	height:35px;
	}
.bar-imasters .container {
	background:url(../imagens/border-header.png) no-repeat top left;
	padding-top:10px;
	}
.bar-imasters .social-buttons {
	float:right;
	margin-right:17.5531%;
	}
.bar-imasters .social-buttons li {
	float:left;
	margin-left:5px;
	}
.bar-imasters .social-buttons li:first-child {
	margin-left:0;
	}
.bar-imasters .social-buttons li a {
	display:block;
	width:18px;
	height:18px;
	text-indent:-99999px;
	background:url(../imagens/social-buttons.png) no-repeat 0 0;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
	}
.bar-imasters .social-buttons li a:hover {
	opacity:.7;
	}
.bar-imasters .social-buttons li .twitter {
	background-position:-18px 0;
	}
.bar-imasters .social-buttons li .github {
	background-position:-36px 0;
	}
.bar-imasters .social-buttons li .linkedin {
	background-position:-54px 0;
	}
.bar-imasters .social-buttons li .rss {
	background-position:-72px 0;
	}
.bar-imasters .social-buttons li .google-plus {
	background-position:-90px 0;
	}
.bar-imasters .nav-global {
	height:32px;
	width:66.8085%;
	float:left;
	margin-top:3px;
	}
.bar-imasters .nav-global li {
	margin-left:0;
	float:left;
	}
.bar-imasters .nav-global li a {
	font:normal 12px/120% Helvetica,Arial,Sans-Serif;
	color:#484242;
	text-transform:none;
	padding:3px 8px 4px;
	position:relative;
	transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	}
.bar-imasters .nav-global li a:before {
	content:'';
	width:4px;
	height:4px;
	background:#65aaba;
	position:absolute;
	left:-2px;
	top:8px;
	}
.bar-imasters .nav-global li a:hover {
	background:0;
	color:#1895a5;
	text-decoration:none;
	}
.bar-imasters .nav-global li:first-child a {
	padding-left:25px;
	background:url(../imagens/icon-navglobal.png) no-repeat left top;
	}
.bar-imasters .nav-global li:first-child a:before {
	display:none;
	}
.bar-imasters #user-area {
	font-size:12px;
	position:absolute;
	right:0;
	top:3px;
	}
.bar-imasters #user-area .user-options {
	display:block;
	float:right;
	margin-top:1px;
	vertical-align:middle;
	}
.bar-imasters #user-area .user-options a {
	color:#4476ab;
	display:block;
	margin:0;
	padding:7px 0;
	text-decoration:none;
	}
.bar-imasters #user-area .user-options a:hover {
	text-decoration:underline;
	}
#header {
	background:url(../imagens/bg-header.png) repeat-x 0 0 #61acba;
	min-height:12em;
	}
#header .container {
	min-height:12em;
	}
#header .branding {
	position:absolute;
	top:1em;
	}
#header .text {
	color:#fff;
	font-size:1.6em;
	width:400px;
	display:block;
	line-height:110%;
	position:absolute;
	left:220px;
	top:35px;
	}
#header #searchform {
	position:absolute;
	top:25px;
	right:0;
	width:300px;
	}
#header #searchform input[type="text"] {
	width:262px;
	padding:8px 29px 8px 9px;
	color:#999;
	border:0;
	}
#header #searchform input[type="submit"] {
	background:url(../imagens/search.png) no-repeat 0 0;
	border:0;
	width:14px;
	height:14px;
	position:absolute;
	right:7px;
	top:8px;
	text-transform:uppercase;
	text-indent:-99999px;
	cursor:pointer;
	}
#header nav {
	position:absolute;
	z-index:99999700;
	}
#header nav ul {
	overflow:hidden;
	padding-top:4px;
	}
#header nav li:first-child {
	margin-left:0;
	}
#header nav li {
	float:left;
	margin-left:13px;
	}
#header nav a {
	color:#fff;
	font-size:1.1em;
	display:block;
	font-weight:700;
	letter-spacing:.2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
	text-transform:uppercase;
	padding:3px 5px 4px 5px;
	-moz-transition:.1s;
	}
#header nav a:hover,#header nav a:focus {
	text-decoration:none;
	background-color:rgba(0,0,0,0.2);
	}
#header .nav-section {
	bottom:0;
	left:-7px;
	height:41px;
	width:100%;
	line-height:42px;
	padding-top:5px;
	}
#header .nav-section ul ul {
	display:none;
	}
#header .nav-section ul li:hover ul {
	position:absolute;
	display:block;
	background:#fff;
	width:230px;
	padding:10px 10px 0 10px;
	margin-top:-4px;
	box-shadow:-6px 0 5px -5px rgba(0,0,0,0.2),-2px 2px 2px 0 rgba(0,0,0,0.1),2px 3px 2px 0 rgba(0,0,0,0.1);
	}
#header .nav-section ul li:hover ul li {
	float:none;
	margin:0;
	}
#header .nav-section ul li:hover ul li:last-child a {
	border:0;
	}
#header .nav-section ul li:hover ul a {
	background:0;
	text-transform:none;
	font-size:1.4em;
	font-weight:normal;
	padding:0;
	color:#666;
	border-bottom:1px solid #f6f6f6;
	padding-bottom:8px;
	margin-bottom:8px;
	box-shadow:0 0 0 red;
	}
#header .nav-section ul li:hover ul a:hover {
	background:0;
	}
#header .nav-section ul {
	padding-top:0;
	}
#header .nav-section a {
	font-size:1.2em;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	border-radius:0;
	padding:14px 8px 17px 10px;
	}
#header .nav-section a:hover,#header .nav-section a:focus {
	background:0;
	text-decoration:underline;
	}
#header .nav-section li {
	margin:0;
	}
#header .sitemap-button a {
	position:absolute;
	bottom:10px;
	right:0;
	font-size:1.1em;
	color:#fff;
	width:18px;
	height:18px;
	z-index:2;
	text-indent:-99999px;
	}
#wrapper-content {
	margin:0 0 40px 0;
	}
#content {
	margin-top:40px;
	position:relative;
	}
#content .primary-area {
	margin-bottom:40px;
	}
#content .primary-area .title {
	font-size:1.8em;
	}
.primary-area {
	background:#f5f5f5;
	}
.featured-box.salmon {
	border-color:#e1734a;
	}
.featured-box.salmon .tag {
	background:#e1734a;
	}
.featured-box.salmon .title a {
	color:#e1734a;
	}
.featured-box.salmon .title a:hover {
	color:#c7572e;
	}
.featured-box.oliver {
	border-color:#8d9b31;
	}
.featured-box.oliver .tag {
	background:#8d9b31;
	}
.featured-box.oliver .title a {
	color:#8d9b31;
	}
.featured-box.oliver .title a:hover {
	color:#5f6921;
	}
.featured-box.royalblue {
	border-color:#4476ab;
	}
.featured-box.royalblue .tag {
	background:#4476ab;
	}
.featured-box.royalblue .title a {
	color:#4476ab;
	}
.featured-box.royalblue .title a:hover {
	color:#305378;
	}
.featured-box.orchid {
	border-color:#9c6496;
	}
.featured-box.orchid .tag {
	background:#9c6496;
	}
.featured-box.orchid .title a {
	color:#9c6496;
	}
.featured-box.orchid .title a:hover {
	color:#694365;
	}
.primary-area {
	padding:35px 0 40px 0;
	position:relative;
	}
.featured-box {
	background:#fff;
	border-bottom:5px solid;
	position:relative;
	margin-top:8px;
	margin-bottom:8px;
	}
.featured-box img {
	display:block;
	width:100%;
	height:auto;
	}
.featured-box .tag {
	display:inline-block;
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	background:#8d9b31;
	padding:7px 8px;
	font-size:1.2em;
	color:#fff;
	text-transform:uppercase;
	}
.featured-box .description {
	padding:18px;
	min-height:65px;
	}
#featured {
	background:#f5f5f5;
	margin-bottom:40px;
	width:100%;
	}
#featured .title {
	font-size:1.8em;
	}
#featured .title a:hover {
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	text-decoration:none;
	}
#featured .secondary-area {
	background:#333;
	padding:27px 0;
	}
#featured .secondary-area #news .new {
	padding:10px 0;
	}
#featured .secondary-area #news .new .category {
	color:#fff;
	font-size:1em;
	margin-bottom:7px;
	letter-spacing:.3px;
	display:inline-block;
	text-transform:uppercase;
	line-height:140%;
	}
#featured .secondary-area #news .new .title a {
	color:#fff;
	letter-spacing:.3px;
	font-weight:normal;
	}
#featured .secondary-area #news .new .title a:hover,#featured .secondary-area #news .new .title a:focus {
	text-decoration:underline;
	}
#featured .secondary-area #news .new time {
	color:#999;
	font-size:1em;
	text-transform:uppercase;
	margin-bottom:7px;
	display:inline-block;
	}
#featured .secondary-area #news .salmon .category {
	color:#e1734a;
	}
#featured .secondary-area #news .oliver .category {
	color:#8d9b31;
	}
#featured .secondary-area #news .royalblue .category {
	color:#4476ab;
	}
#featured .secondary-area #news .orchid .category {
	color:#9c6496;
	}
#featured .secondary-area .more {
	display:block;
	text-align:center;
	position:absolute;
	background:#4d4d4d;
	left:50%;
	line-height:118%;
	bottom:-34px;
	font-size:1.6em;
	color:#fff;
	margin-left:-42px;
	padding:0 8px 2px;
	}
#featured .secondary-area .more:hover {
	text-decoration:none;
	}

.widget {
	margin-bottom:40px;
	border-top:5px solid #4476ab;
	padding-top:17px;
	}
.widget figure img {
	max-width:100%;
	}
.widget .widget-title {
	text-transform:uppercase;
	font-weight:normal;
	margin-bottom:23px;
	font-size:2em;
	}
.widget .branding-title {
	background:url(../imagens/branding-title.png) no-repeat 0 0;
	width:200px;
	height:50px;
	text-indent:-99999px;
	}
.widget-intercon .branding-title {
	background-position:0 -56px;
	}
.widget_last-articles {
	border-color:#e1734a;
	}
.widget_columnists-imasters {
	border-color:#8d9b31;
	}
.widget-calendar-events {
	border-color:#af2d21;
	}
.widget_more-readed {
	border-color:#9c6496;
	}
.widget-columnists-more-commented,.widget-imasters-podcast,.widget-box-footer {
	border-color:#666;
	background:#f5f5f5;
	}
.widget-seven-masters {
	border-color:#218ea1;
	}
.widget-title,.widget_last-articles .widget-title {
	color:#e1734a;
	}
.widget_last-articles .title a {
	margin-top:-3px;
	color:#333;
	display:inline-block;
	font-weight:normal;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	}
.widget_last-articles .title a:hover {
	text-decoration:none;
	color:#666;
	}
.widget_last-articles .published {
	margin-bottom:30px;
	overflow:hidden;
	}
.widget_last-articles .category,.widget_last-articles cite {
	text-transform:uppercase;
	font-size:1.1em;
	color:#e1734a;
	display:inline-block;
	margin-bottom:6px;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	}
.widget_last-articles .category a,.widget_last-articles cite a {
	color:#e1734a;
	}
.widget_last-articles .category a:hover,.widget_last-articles cite a:hover {
	color:#c7572e;
	text-decoration:none;
	}
.widget_last-articles cite {
	font-style:normal;
	color:#666;
	}
.widget_last-articles cite a {
	color:#666;
	}
.widget_last-articles cite a:hover {
	color:#333;
	}
.widget_last-articles .button {
	background:#e1734a;
	}
.widget_last-articles .button:hover {
	background:#c7572e;
	}
.columnist,.published {
	overflow:hidden;
	}
.columnist figure {
	float:left;
	margin-right:16px;
	}
.widget_columnists-imasters .widget-title,.widget_columnists-imasters .title {
	color:#8d9b31;
	}
.widget_columnists-imasters .title a {
	color:#8d9b31;
	}
.widget_columnists-imasters .title a:hover {
	color:#5f6921;
	text-decoration:none;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	}
.widget_columnists-imasters .title {
	font-size:1.1em;
	text-transform:uppercase;
	margin-bottom:5px;
	display:inline-block;
	font-style:normal;
	}
.widget_columnists-imasters .sub-title {
	font-size:1.6em;
	font-weight:normal;
	color:#666;
	line-height:120%;
	}
.widget_columnists-imasters .sub-title a {
	color:#666;
	}
.widget_columnists-imasters .sub-title a:hover {
	text-decoration:none;
	color:#333;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	}
.widget_columnists-imasters .columnist {
	margin-bottom:20px;
	}
.widget_columnists-imasters .button {
	background:#8d9b31;
	}
.widget_columnists-imasters .button:hover {
	background:#5f6921;
	}
.widget_imasters-last-info-online-reviews .widget-title {
	color:#4476ab;
	}
.widget_imasters-last-info-online-reviews .item {
	margin-bottom:20px;
	}
.widget_imasters-last-info-online-reviews .title a:hover {
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	text-decoration:none;
	color:#305378;
	}
.widget_imasters-last-info-online-reviews figure {
	margin-bottom:10px;
	}
.widget_imasters-last-info-online-reviews .excerpt a {
	color:#666;
	}
.widget_imasters-last-info-online-reviews .button {
	background:#4476ab;
	margin-top:29px;
	}
.widget_imasters-last-info-online-reviews .button:hover {
	background:#305378;
	}
.widget_imasters-last-info-online-reviews figure img {
	border:1px solid #ddd;
	width:100%;
	height:auto;
	margin-bottom:5px;
	}
.widget_imasters-last-info-online-reviews h3 {
	font-size:1.1em;
	color:#4476ab;
	text-transform:uppercase;
	font-weight:normal;
	}
.widget_imasters-last-info-online-reviews h3:hover {
	color:#305378;
	text-decoration:none;
	}
.columnist .description {
	overflow:hidden;
	max-width:100%;
	}
.day {
	overflow:hidden;
	margin-bottom:24px;
	padding-left:52px;
	position:relative;
	min-height:50px;
	}
.day .summary:last-child {
	margin-bottom:0;
	}
.day .summary {
	margin-bottom:15px;
	}
.day .vevent {
	width:41px;
	display:block;
	text-align:center;
	color:#fff;
	font-size:1.4em;
	line-height:110%;
	padding:11px 0 9px 0;
	margin-right:12px;
	position:absolute;
	top:0;
	left:0;
	max-height:50px;
	}
.day .vevent span {
	display:block;
	}
.day .vevent .d {
	font-size:1.4em;
	}
.day .location {
	display:block;
	font-size:1.1em;
	margin-bottom:4px;
	text-transform:uppercase;
	}
.day .title {
	font-size:1.8em;
	color:#666;
	}
.day .title a {
	color:#666;
	}
.widget-calendar-events .widget-title {
	color:#af2d21;
	}
.widget-calendar-events .day .vevent {
	background:#af2d21;
	}
.widget-calendar-events .day .location {
	color:#af2d21;
	}
.widget-calendar-events .day .title a:hover {
	color:#333;
	text-decoration:none;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	}
.widget-calendar-events .button {
	background:#af2d21;
	margin-top:30px;
	}
.widget-calendar-events .button:hover {
	background:#7d2018;
	}
.grid_3 .widget_more-readed .title {
	width:170px;
	}
.widget_more-readed .widget-title {
	color:#9c6496;
	}
.widget_more-readed ol {
	list-style:decimal inside;
	margin-bottom:32px;
	}
.widget_more-readed li {
	font-size:3.6em;
	color:#9c6496;
	line-height:120%;
	margin-bottom:8px;
	padding-bottom:7px;
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #e9e9e9;
	}
.widget_more-readed li .title {
	color:#333;
	width:auto;
	font-size:.3em;
	text-transform:uppercase;
	}
.widget_more-readed li .title a {
	color:#333;
	}
.widget_more-readed li .title a:hover {
	color:#666;
	}
.widget-columnists-more-commented,.widget-imasters-podcast,.widget-box-footer {
	padding:20px 20px 0 20px;
	overflow:hidden;
	}
.widget-columnists-more-commented cite {
	font-style:normal;
	font-size:1.3em;
	color:#999;
	}
.widget-columnists-more-commented cite a {
	color:#999;
	}
.widget-columnists-more-commented cite a:hover {
	text-decoration:none;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	color:#666;
	}
.widget-columnists-more-commented .title,.widget-imasters-podcast .title {
	font-size:1.6em;
	margin:3px 0 8px 0;
	line-height:105%;
	}
.widget-columnists-more-commented .title a,.widget-imasters-podcast .title a {
	color:#4476ab;
	display:inline-block;
	}
.widget-columnists-more-commented .title a:hover,.widget-imasters-podcast .title a:hover {
	text-decoration:none;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	color:#305378;
	}
.widget-columnists-more-commented .comment {
	color:#666;
	font-size:1.3em;
	display:inline-block;
	padding:2px 25px;
	background-position:-2px -285px;
	}
.widget-columnists-more-commented .comment:hover {
	color:#333;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	text-decoration:none;
	}
.widget-columnists-more-commented .columnist {
	width:285px;
	margin-bottom:20px;
	}
.widget-columnists-more-commented .widget-title,.widget-imasters-podcast .widget-title,.widget-box-footer .widget-title {
	color:#666;
	}
.widget-columnists-more-commented .widget-title {
	color:#6e706c;
	}
.widget-seven-masters,.widget-intercon {
	position:relative;
	}
.widget-seven-masters .branding-title,.widget-intercon .branding-title {
	margin-bottom:30px;
	}
.widget-seven-masters .access,.widget-intercon .access {
	top:30px;
	right:0;
	font-size:1.2em;
	color:#218ea1;
	position:absolute;
	text-transform:uppercase;
	}
.widget-seven-masters .access:hover {
	text-decoration:none;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	color:#16606e;
	}
.widget-seven-masters .title,.widget-intercon .title {
	color:#218ea1;
	font-size:1.1em;
	margin-bottom:3px;
	text-transform:uppercase;
	}
.widget-seven-masters .title a {
	color:#218ea1;
	}
.widget-seven-masters .title a:hover {
	text-decoration:none;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	color:#16606e;
	}
.widget-seven-masters .excerpt {
	font-size:1.6em;
	color:#878787;
	line-height:120%;
	}
.widget-imasters-podcast {
	/* width:900px; */ width:95.7446%;
	/* padding-bottom:20px; */ padding-bottom:2.2222%; /* 20/940 */
	}
.widget-imasters-podcast li {
	padding:15px 14px 25px 14px;
	background-color:#eee;
	background-repeat:no-repeat;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#eee));
	background-image:-webkit-linear-gradient(#fff,#eee);
	background-image:-moz-linear-gradient(#fff,#eee);
	background-image:-o-linear-gradient(top,#fff,#eee);
	background-image:-khtml-gradient(linear,left top,left bottom,from(#fff),to(#eee));
	border:1px solid #cbcbcb;
	}
.widget-imasters-podcast .title {
	font-size:2.4em;
	line-height:100%;
	margin:0;
	}
.widget-imasters-podcast .orchid .title {
	color:#9c6496;
	}
.widget-imasters-podcast .orchid .title a {
	color:#9c6496;
	}
.widget-imasters-podcast .orchid .title a:hover,.widget-imasters-podcast .orchid .title a:focus {
	color:#694365;
	}
.widget-imasters-podcast .oliver .title {
	color:#8d9b31;
	}
.widget-imasters-podcast .oliver .title a {
	color:#8d9b31;
	}
.widget-imasters-podcast .oliver .title a:hover,.widget-imasters-podcast .oliver .title a:focus {
	color:#5f6921;
	}
.widget-imasters-podcast .blue .title {
	color:#4476ab;
	}
.widget-imasters-podcast .blue .title a {
	color:#4476ab;
	}
.widget-imasters-podcast .blue .title a:hover,.widget-imasters-podcast .blue .title a:focus {
	color:#305378;
	}
.widget-imasters-podcast .excerpt {
	font-size:1.6em;
	color:#666;
	line-height:125%;
	}
.widget-box-developer .widget-title,.widget_official-resources .widget-title {
	color:#8d9b31;
	}
.widget-box-developer ul,.widget_official-resources ul {
	overflow:hidden;
	}
.widget-box-developer li,.widget_official-resources li {
	min-height:38px;
	margin-bottom:20px;
	padding-left:50px;
	position:relative;
	overflow:hidden;
	}
.widget_official-resources li .icon {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:40px;
	height:40px;
	}
.widget-box-developer li a,.widget_official-resources li a {
	font-size:1.4em;
	color:#888;
	display:inline-block;
	line-height:130%;
	}
.widget-box-developer li a:hover,.widget_official-resources li a:hover {
	color:#555;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	text-decoration:none;
	}
.widget-box-developer .button,.widget_official-resources .button {
	background:#8d9b31;
	margin-top:30px;
	}
.widget-box-developer .button:hover,.widget_official-resources .button:hover {
	background:#5f6921;
	}
.widget_official-resources li {
	float:left;
	margin-right:30px;
	}
.widget-box-developer .widget-title {
	color:#e1734a;
	}
.widget-box-developer li {
	width:95px;
	padding-left:43px;
	}
.widget-box-developer figure {
	margin-bottom:15px;
	}
.widget-box-developer .category {
	color:#e1734a;
	font-size:1.1em;
	margin-bottom:4px;
	display:inline-block;
	text-transform:uppercase;
	}
.widget-box-developer .category a {
	color:#e1734a;
	}
.widget-box-developer .title {
	color:#666;
	font-size:1.8em;
	}
.widget-box-developer .title a {
	color:#666;
	}
.widget-box-developer .title a:hover {
	color:#333;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	text-decoration:none;
	}
.widget-box-developer .excerpt {
	font-size:1.4em;
	line-height:120%;
	color:#666;
	}
.widget-box-developer .number {
	position:absolute;
	top:0;
	left:0;
	background:#e1734a;
	font-size:1.4em;
	font-weight:700;
	display:block;
	width:34px;
	padding-left:1px;
	height:35px;
	line-height:35px;
	color:#fff;
	text-align:center;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	-khtml-border-radius:100px;
	border-radius:100px;
	}
.widget-box-developer .button {
	background:#e1734a;
	}
.widget-box-developer .button:hover {
	background:#c7572e;
	}
.widget-box-footer p,.widget-box-footer h2,.widget-box-footer ul {
	margin-bottom:15px;
	line-height:130%;
	}
.widget-box-footer h2 {
	color:#4476ab;
	font-size:1em;
	font-weight:normal;
	margin-bottom:13px;
	}
.widget-box-footer a {
	color:#666;
	font-size:.9em;
	}
.widget-box-footer .widget-title {
	color:#333;
	font-size:1.5em;
	}
.widget-box-footer ul {
	line-height:88%;
	}
.widget-box-footer li {
	color:#666;
	margin-bottom:23px;
	}
.widget-box-footer li span {
	display:block;
	font-size:1.6em;
	margin-bottom:9px;
	color:#4375ab;
	font-style:italic;
	}
.widget-box-footer .gform_wrapper li {
	margin-bottom:15px;
	font-size:1.4em;
	}
.widget-box-footer .gform_wrapper label {
	font-weight:normal!important;
	font-size:.7em;
	margin:0 0 14px;
	line-height:130%;
	}
.widget-box-footer .gform_wrapper label .gfield_required {
	display:none;
	}
.widget-box-footer .gform_wrapper input[type="text"],.widget-box-footer .gform_wrapper textarea {
	width:90%;
	color:#656565;
	line-height:130%;
	font-size:.7em;
	padding:7px 9px;
	}
.widget-box-footer {
	width:25.5315%;
	min-height:450px;
	font-size:1.4em;
	color:#666;
	}
.widget-box-footer .gform_wrapper textarea {
	max-height:72px;
	min-height:72px;
	width:90%;
	}
.widget-box-footer .gform_wrapper input[type="submit"] {
	font-weight:normal;
	font-size:1em;
	border:0;
	cursor:pointer;
	}
.widget-box-footer .gform_wrapper input[type="submit"]:hover {
	background:#5b8bbf;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	}

.home .networks {
	margin-top:40px;
	}
.networks {
	border-top:1px solid #dadad9;
	padding:27px 0 0 0;
	margin:15px 0 25px 0;
	}
.networks ul {
	margin-left:8.5106%;
	overflow:hidden;
	}
.networks li:first-child {
	margin-left:0;
	}
.networks li {
	float:left;
	margin-left:2%;
	padding-left:6%;
	position:relative;
	min-height:37px;
	}
.networks .title {
	font-size:1.3em;
	font-weight:700;
	color:#000;
	}
.networks a {
	font-style:italic;
	font-size:1.2em;
	color:#4476ab;
	font-family:Georgia,Arial,Helvetica,Sans-Serif;
	}
.networks a:hover {
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	text-decoration:none;
	color:#305378;
	}
.networks .icon {
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	width:45px;
	height:43px;
	background-repeat:no-repeat;
	}

.brandings-fixes {
	overflow:hidden;
	padding:13px 0 13px 0;
	border-top:1px solid #dadad9;
	position:static;
	bottom:0;
	left:0;
	width:100%;
	background:#fff;
	z-index:999;
	}
.brandings-fixes ul {
	text-align:center;
	}
.brandings-fixes li:first-child {
	margin-left:0;
	}
.brandings-fixes li {
	display:inline;
	margin-left:36px;
	}
.brandings-fixes a {
	display:inline-block;
	}
.home .brandings-fixes {
	position:fixed;
	}
#footer {
	background:#174c5a;
	color:#fff;
	font-size:1.4em;
	line-height:120%;
	min-height:215px;
	padding:55px 0 60px 0;
	}
#footer .container {max-width:940px;margin:0 auto;}
#footer .branding {
	position:relative;
	top:-3px;
	}
#footer .nav-institutional {
	margin-top:47px;
	}
#footer .nav-institutional li {
	float:none;
	line-height:135%;
	}
#footer .nav-institutional li a {
	color:#f4b11b;
	}
#footer .copyright {
	font-style:normal;
	color:#44798c;
	font-size:10px;
	position:absolute;
	top:55px;
	left:0;
	}
#footer .title {
	color:#f4b11b;
	font-size:1.3em;
	margin-bottom:8px;
	font-weight:normal;
	text-transform:uppercase;
	}
#footer ul {
	overflow:hidden;
	}
#footer li {
	float:left;
	}
#footer .social-networks {
	margin-bottom:40px;
	}
#footer .social-networks a {
	background:url(../imagens/icons.png) no-repeat 0 0;
	display:block;
	margin-right:6px;
	width:32px;
	height:32px;
	text-indent:-99999px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
	}
#footer .social-networks a:hover,#footer .social-networks a:focus {
	background-color:#2f5e6b;
	-moz-transition:.1s;
	-webkit-transition:.1s;
	transition:.1s;
	}
#footer .social-networks li.twitter a {
	background-position:7px -549px;
	}
#footer .social-networks li.facebook a {
	background-position:9px -581px;
	}
#footer .social-networks li.linkedin a {
	background-position:6px -615px;
	}
#footer .social-networks li.flickr a {
	background-position:5px -648px;
	}
#footer .social-networks li.rss a {
	background-position:7px -680px;
	}
#footer .mailto a {
	color:#fff;
	background:url(../imagens/icons.png) no-repeat 0 -715px;
	padding:5px 5px 5px 28px;
	}
#footer .newsletter {
	margin-left:5.3191%;
	width:27.4468%;
	}
#footer .grid_5 {
	margin-left:8.8297%;
	width:23.4042%;
	}
#footer .newsletter .text {
	margin-bottom:17px;
	line-height:135%;
	}
#footer .newsletter div {
	margin-bottom:15px;
	}
#footer .newsletter input[type="text"] {
	width:238px;
	color:#666;
	font-size:1em;
	}
#footer .newsletter input[type="submit"] {
	border:0;
	padding:0;
	color:#fff;
	cursor:pointer;
	font-size:1em;
	margin-top:-4px;
	background:0;
	letter-spacing:.8px;
	text-transform:uppercase;
	font-family:Arial,Helvetica,Sans-Serif;
	}
@media all and (max-width:905px) {

/* barra de navegação superior */
.bar-imasters {
	height: 7.5em;
	margin-left:1%;
	}
.bar-imasters .social-buttons {
	float:none;
	margin-right:0;
	}
.bar-imasters .social-buttons li:first-child {
	margin-left:1.5em;
	}
.bar-imasters .nav-global {
	float:none;
	}	
.bar-imasters .nav-global li {
	margin-bottom:1em;
	}
.bar-imasters .user-options {
	margin-right:1em;
	}
/* faixa com o logotipo */	
#header {
	background:url(../imagens/bg-header905.png) repeat-x 0 0 #61acba;
	}
#header .text {
	width:auto;
	margin-bottom:4em;
	position:static;
	}
#header #searchform {
	top:1em;
	right:0;
	width:50%;
	}
#header #searchform input[type="text"] {
	width:100%;
	}
#header .branding {position:static;}
/* navegação abaixo da faixa com o logotipo */	
#header .nav-section {
	height:5.2em;
	padding-top:0.5em;
	}
#header .nav-section li a {
	padding:0.25em 1em;
	}
/* barra fixa no rodapé da página */
.brandings-fixes li {
	margin-left:2.5em;
	}
}
@media all and (max-width:800px) {
/* barras abaixo do topo e outra acima do pdcast */
.grid_3.featured-box{ min-height:28em; }
/* barra contendo formulário seja um colunista */
.grid_4.widget-box-footer { min-height:40em; }
/* rodape */	
#footer {
	/* padding:55px 0 60px 0; */ padding:2% 0 15% 0;
	}
#footer .container {
	width:33%;
	margin:0 auto;
}
#footer .grid_3, #footer .grid_4, #footer .grid_5 {
	float:none;
} 	
/* barra de ícones e links sociais acima do rodape */
.networks li {
	margin-bottom:3em;
	padding-left:9%;
	}
.networks li:first-child {margin-left:2%}
/* barra podcast */
.widget-imasters-podcast li {
	padding:2%;
}
}

@media all and (max-width:680px) {
/* barra abaixo do topo */
.grid_3.featured-box {
	width:45%;
	margin:2% 0;
	}	
.grid_3.featured-box:nth-child(2), .grid_3.featured-box:nth-child(4) {
	float:right;	
}
/* barra +noticias */
.grid_3.new {
	width:45%;
	margin:2% 0;
	}	
.grid_3.new:nth-child(2), .grid_3.new:nth-child(4) {
	float:right;	
}
/* barra artigos técnicos, colunistas e review */
#content  .container  .grid_5, 
#content  .container .grid_5 + .grid_4, 
#content  .container .grid_4 + .grid_3 {
	float:none;
	}
#content .container .grid_4 + .grid_3 figure img { 
	width:33%;
}
/* barra de widgets 7 masters e intercom */
.grid_6.widget-seven-masters, 
.grid_6.widget-intercon {width:100%}
.grid_6.widget-intercon {margin-left:0;}
.grid_6.widget-intercon figure, 
.grid_6.widget-seven-masters figure {width:70%}
/* barra de recursos oficiais e box para desenvolvedores*/
.grid_5, .grid_7 {float:none;}
.grid_7 .grid_4 {
	width:100%;
	margin-bottom:3em;
}
/* barra do formulário "Seja um colunista" */
.grid_4.widget-box-footer {
	width:100%; 
	margin:1em 0 0 0;
	min-height:0;
	padding-bottom:1em;;
	}
}
@media all and (max-width:500px) {
/* barra de widgets 7 masters e intercom */
.grid_6.widget-intercon figure, .grid_6.widget-seven-masters figure {width:90%}
.widget .branding-title {
	background:none;
	text-indent:0;
	font-size:3em; 
	color:#666;
	}
/* barra podcast */
.widget-imasters-podcast ul li {float:none; border:none;background:none;}    
/* barra de ícones e links sociais acima do rodape */
.networks {margin-top:-4em!important;}
.networks li {
    margin-bottom:1em;
    padding-left:18%;
    float:none;
    min-height:0;
	}
/* rodape */	
#footer .container {
	width:95%;
	margin:0 auto;
}
#footer {padding:2% 0 2% 0;}
/* barra fixa no rodapé da página */
.home .brandings-fixes {
	position:static;
	}
}